@page "/"

<GRow>
    <GColumn>
        <h4>Input</h4>
        <EditForm Model="M">
            <DataAnnotationsValidator />
            
            <GRow FitColumns="true">
                <GColumn ColumnSpan="3">
                    <label>First Name</label>
                    <GTextBox @bind-Value="@M.FirstName" MaxLength="5" Placeholder="First name" Counter="true"></GTextBox>
                </GColumn>

                <GColumn ColumnSpan="3">
                    <label>Middle Name</label>
                    <GTextBox @bind-Value="@M.MiddleName" Disabled="true"></GTextBox>
                </GColumn>

                <GColumn ColumnSpan="3">
                    <label>Last Name</label>
                    <GTextBox @bind-Value="@M.LastName" Validatable="true"></GTextBox>
                </GColumn>

                <GColumn ColumnSpan="3">
                    <GCheckbox @bind-Value="@M.Agree" Validatable="true">Agree</GCheckbox>

                    <GCheckbox @bind-Value="@M.Disabled" Disabled="true">disabled</GCheckbox>

                    <GCheckbox @bind-Value="@M.Disabled" ReadOnly="true">readonly</GCheckbox>

                    <GCheckbox Value="@M.Indeterminate" ValueExpression="@(() => M.Indeterminate)" ValueChanged="@ChangeIndeterminate" Indeterminate="@M.IsIndeterminate">indeterminate</GCheckbox>
                </GColumn>
            </GRow>

            <GRow>
                <h4>Buttons</h4>
                <GColumn>
                    <GButton OnClickCallback="@LeftClick">Blue</GButton>
                    <GButton OnRigthClickCallback="@RightClick" ButtonColor="@ButtonColors.Red">Red</GButton>
                    <GButton ButtonColor="@ButtonColors.Orange">Orange</GButton>
                    <GButton ButtonColor="@ButtonColors.Green">Green</GButton>
                    <GButton ButtonColor="@ButtonColors.White">White</GButton>
                    <GButton ButtonColor="@ButtonColors.Gray">Gray</GButton>
                    <GButton Disabled="true">Disabled</GButton>
                    <GButton CssClass="button-round-pink" RoundButton="true" ButtonColor="@ButtonColors.White">💜</GButton>
                </GColumn>
                <GColumn>
                    <GButton FullWidth="true">Full width</GButton>
                </GColumn>
            </GRow>
            <GRow>
                <GColumn>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </GColumn>
            </GRow>
        </EditForm>
    </GColumn>
</GRow>

@code {
    public class DataModel
    {
        [StringLength(maximumLength: 5, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        [Required]
        public string FirstName { get; set; }

        [StringLength(maximumLength: 10, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        public string MiddleName { get; set; } = "John";

        [StringLength(maximumLength: 5, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        [Required]
        public string LastName { get; set; }

        [CheckboxTicked(ErrorMessage = "You have to tick this checkbox")]
        public bool Agree { get; set; } = true;

        public bool Disabled { get; set; } = true;

        public bool Indeterminate { get; set; }
        public bool IsIndeterminate { get; set; } = true;
    }

    public DataModel M { get; set; } = new DataModel();

    private void LeftClick(MouseEventArgs e)
    {
        Console.WriteLine("click!");
    }

    private void RightClick(MouseEventArgs e)
    {
        Console.WriteLine("right click!");
    }

    private void ChangeIndeterminate(bool value)
    {
        M.IsIndeterminate = false;
        M.Indeterminate = value;
    }
}
