@page "/"

<GRow>
    <GColumn>
        <h4 id="forms">Forms</h4>
        <h6>Input</h6>
        <EditForm Model="M">
            <DataAnnotationsValidator />

            <GRow>
                <GColumn ColumnMediumSpan="3">
                    <label>First Name</label>
                    <GTextBox @bind-Value="@M.FirstName" MaxLength="5" Placeholder="First name" Counter="true"></GTextBox>
                </GColumn>

                <GColumn ColumnMediumSpan="3">
                    <label>Middle Name</label>
                    <GTextBox @bind-Value="@M.MiddleName" Disabled="true"></GTextBox>
                </GColumn>

                <GColumn ColumnMediumSpan="3">
                    <label>Last Name</label>
                    <GTextBox @bind-Value="@M.LastName" Validatable="true"></GTextBox>
                </GColumn>

                <GColumn ColumnMediumSpan="3">
                    <GCheckbox @bind-Value="@M.Agree" Validatable="true">Agree</GCheckbox>

                    <GCheckbox @bind-Value="@M.Disabled" Disabled="true">disabled</GCheckbox>

                    <GCheckbox @bind-Value="@M.Disabled" ReadOnly="true">readonly</GCheckbox>

                    <GCheckbox Value="@M.Indeterminate" ValueExpression="@(() => M.Indeterminate)" ValueChanged="@ChangeIndeterminate" Indeterminate="@M.IsIndeterminate">indeterminate</GCheckbox>
                </GColumn>
            </GRow>

            <GRow>
                <h6 id="buttons">Buttons</h6>
                <GColumn>
                    <GButton OnClickCallback="@LeftClick">Blue</GButton>
                    <GButton OnRigthClickCallback="@RightClick" ButtonColor="@ButtonColors.Red">Red</GButton>
                    <GButton ButtonColor="@ButtonColors.Orange">Orange</GButton>
                    <GButton ButtonColor="@ButtonColors.Green">Green</GButton>
                    <GButton ButtonColor="@ButtonColors.White">White</GButton>
                    <GButton ButtonColor="@ButtonColors.Gray">Gray</GButton>
                    <GButton Disabled="true">Disabled</GButton>
                    <GButton CssClass="button-round-pink" RoundButton="true" ButtonColor="@ButtonColors.White">💜</GButton>
                </GColumn>
                <GColumn>
                    <GButton FullWidth="true">Full width</GButton>
                </GColumn>
            </GRow>
            <GRow>
                <h5>Dropdowns</h5>
                <GColumn>
                    <h6>Single select</h6>
                    <GSelect Items="@selectList" @bind-Value="@M.Select" ShowSearch="true" Placeholder="Select value..."></GSelect>
                    <span>selected value: @M.Select</span>
                </GColumn>

                <GColumn>
                    <h6>Multi select</h6>
                    <GSelect Items="@selectMultiList" @bind-Values="@M.SelectMulti" MultiSelect="true"></GSelect>
                    <span>selected values: @System.Text.Json.JsonSerializer.Serialize(M.SelectMulti)</span>
                </GColumn>
            </GRow>
        </EditForm>
        <h5>Card</h5>
        <GRow>
            <GColumn>
                <GCard>
                    <GCardContent BackgroundColor="@ButtonColors.Red">
                        <h4>Card header</h4>
                    </GCardContent>
                    <GCardContent>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quis, voluptatem quaerat, hic itaque porro cumque a minima iure nostrum id dicta aperiam eum obcaecati esse alias. Saepe nam illum dolores nemo reiciendis, magni, nesciunt iusto, est velit amet corrupti?</p>
                        <p>Sed sit amet tempor arcu, vitae congue augue. Cras ut mi dictum, pulvinar mi et, tincidunt mi. Mauris sed eleifend elit. Curabitur vulputate, mi congue tempor porta, nulla tellus tincidunt dolor, ac sodales orci nisi a nisi.</p>
                    </GCardContent>
                    <GCardContent HorizontalAlign="@HorizontalAlign.Right">
                        ❤ 24
                    </GCardContent>
                </GCard>
            </GColumn>
        </GRow>
        <GRow>
            <GColumn ColumnMediumSpan="6">
                <GCard>
                    <GCardContent BackgroundColor="@ButtonColors.Green">
                        <h4>Card header</h4>
                    </GCardContent>
                    <GCardContent HorizontalAlign="@HorizontalAlign.Justify">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quis, voluptatem quaerat, hic itaque porro cumque a minima iure nostrum id dicta aperiam eum obcaecati esse alias. Saepe nam illum dolores nemo reiciendis, magni, nesciunt iusto, est velit amet corrupti?
                    </GCardContent>
                    <GCardContent>
                        <small>Lorem ipsum dolor sit amet</small> <GButton CssClass="button-round-pink" RoundButton="true" ButtonColor="@ButtonColors.White">🎉</GButton>
                    </GCardContent>
                </GCard>
            </GColumn>
            <GColumn ColumnMediumSpan="6">
                <GCard>
                    <GCardContent RemoveMargins="true">
                        <img src="./images/image.jpg" alt="image" width="100%" />
                    </GCardContent>
                    <GCardContent>
                        <small>Lorem ipsum dolor sit amet</small> <GButton CssClass="button-round-pink" RoundButton="true" ButtonColor="@ButtonColors.White">💜</GButton>
                    </GCardContent>
                </GCard>
            </GColumn>
        </GRow>
    </GColumn>
</GRow>

@code {
    public class DataModel
    {
        [StringLength(maximumLength: 5, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        [Required]
        public string FirstName { get; set; }

        [StringLength(maximumLength: 10, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        public string MiddleName { get; set; } = "John";

        [StringLength(maximumLength: 5, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        [Required]
        public string LastName { get; set; }

        [CheckboxTicked(ErrorMessage = "You have to tick this checkbox")]
        public bool Agree { get; set; } = true;

        public bool Disabled { get; set; } = true;

        public bool Indeterminate { get; set; }
        public bool IsIndeterminate { get; set; } = true;

        [SelectLowerThanFour(ErrorMessage = "Select option with value ≥ 4")]
        public int Select { get; set; }
        public List<int> SelectMulti { get; set; } = new();
    }

    private static SelectListGroup basicSelectListGroup = new() { Name = "Basic colors" };
    private static SelectListGroup otherSelectListGroup = new() { Name = "Other group" };

    public List<SelectListItem<int>> selectList = new()
    {
        new() { Value = 1, Text = "Red", Group = basicSelectListGroup },
        new() { Value = 2, Text = "Green", Group = basicSelectListGroup },
        new() { Value = 4, Text = "Yellow", Disabled = true },
        new() { Value = 3, Text = "Blue", Group = basicSelectListGroup },
        new() { Value = 5, Text = "Black" },
        new() { Value = 6, Text = "White", Group = otherSelectListGroup }
    };

    public List<SelectListItem<int>> selectMultiList = new()
    {
        new() { Value = 1, Text = "Red", Group = basicSelectListGroup },
        new() { Value = 2, Text = "Green", Group = basicSelectListGroup },
        new() { Value = 3, Text = "Blue", Group = basicSelectListGroup },
        new() { Value = 4, Text = "Yellow", Disabled = true },
        new() { Value = 5, Text = "Black" },
        new() { Value = 6, Text = "White", Group = otherSelectListGroup }
    };

    public DataModel M { get; set; } = new DataModel();

    private void LeftClick(MouseEventArgs e)
    {
        Console.WriteLine("click!");
    }

    private void RightClick(MouseEventArgs e)
    {
        Console.WriteLine("right click!");
    }

    private void ChangeIndeterminate(bool value)
    {
        M.IsIndeterminate = false;
        M.Indeterminate = value;
    }
}
